@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@import '@fontsource-variable/inter';

button:not(:disabled),
[role='button']:not(:disabled) {
  cursor: pointer;
}

:root {
  color-scheme: light;
  font-family: 'Inter Variable', system-ui, sans-serif;
  font-feature-settings: 'cv11', 'ss01';
  font-optical-sizing: auto;
}
